{% extends 'base.html' %}

{% block content %}
<h2>Doações</h2>
<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Entidade</th>
            <th>Quantidade</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for doacao in doacoes %}
        <tr>
            <td>{{ doacao.produto.nome }}</td>
            <td>{{ doacao.entidade.nome }}</td>
            <td>{{ doacao.quantidade }}</td>
            <td>{{ doacao.data_doacao }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'adicionar_doacao' %}">Registrar Doação</a>
{% endblock %}